
<html>
	<head>
    <title>test</title>
      <% include head %>
	</head>
	<body class="container">

    <header>
        <% include header %>
    </header>

				<header class="major">
					<h2>Why Rent with us?</h2>
					<p>We offer the greatest range of Car rental prices and options for you</p>
				</header>
				<div class="container">
					<div class="row">
						<div class="4u">
							<section class="special box">
								<i class="icon fa-area-chart major"></i>
								<h3>Best Rental Companies</h3>
								<p>We offer the best prices from the world's leading car rental companies such as Enterprise, Hertz, National, Thrifty, Alamo, Avis and Budget.</p>
							</section>
						</div>
						<div class="4u">
							<section class="special box">
								<i class="icon fa-refresh major"></i>
								<h3>Why Rent with us?</h3>
								<p> We specialize in finding you the best deal for your car rental and will match the price any rental from one of our competitors</p>
							</section>
						</div>
						<div class="4u">
							<section class="special box">
								<i class="icon fa-cog major"></i>
								<h3>We are a customer first business</h3>
								<p> We pride ourselves on offering the best deals and rewards to our customers.</p>
							</section>
						</div>
					</div>
				</div>
			</section>


	</body>
</html>
