<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/rentals">Car Gallery</a></li>
            <li><a href="/policies">Insurance Policies and Plans</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="#">Sign Up for Special Deals</a></li>
        </ul>
    </div>
</nav>
