
<html>
	<head>
    <title>Car Rentals</title>
      <% include head %>
	</head>
    <header>
        <% include header %>
    </header>
    <body class="container">
      <h2>Car Rentals</h2>
          <section>
            <h3>List of Rentals</h3>
              <ul>
                <li><a href="https://www.enterprise.ca/en/home.html">Enterprise</a></li>
                <li><a href="https://www.hertz.ca/rentacar/reservation/">Hertz</a></li>
                <li><a href="https://www.nationalcar.ca/en_US/car-rental/home.html">National</a></li>
                <li><a href="https://www.thrifty.com/">Thrifty</a></li>
                <li><a href="https://www.alamo.com/en_US/car-rental/home.html">Alamo</a></li>
                <li><a href="https://www.avis.ca/car-rental/avisHome/home.ac">Avis</a></li>
                <li><a href="https://www.budget.ca/en/">Budget</a></li>
              </ul>
          </section>
    </body>
</html>
